{% extends "base.html" %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">Login Form</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" method="POST">
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    {{ form.email.label(class="form-label") }}
                                    {{ form.email(class="form-control form-control-lg rounded-0", required=True) }}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label(class="form-label") }}
                                    {{ form.password(class="form-control form-control-lg rounded-0", required=True) }}
                                </div>
                                <button type="submit" class="btn btn-success btn-lg float-right">{{ form.submit.label }}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
